.home {
  color: red;
  border: 1px solid #dadada;
  padding: 80px;
  border-radius: 17px;
  margin: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
}
